# Service
PYTHON_ENV=development
PORT=8001

# Optional if you proxy external weather through Python
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast

# Earth Engine
GOOGLE_APPLICATION_CREDENTIALS=./gee-credentials.json
EE_PROJECT_ID=MACPRO@MacBookPro backend % earthengine set_project youtub-486403
zsh: command not found: earthengine

# Copernicus CDS
CDS_API_KEY=your_copernicus_api_key
CDS_API_URL=https://cds.climate.copernicus.eu/api/v2
